<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338309843980-0nka8hqnv36fcm064fikutqtirmlmchb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338309843980-0nka8hqnv36fcm064fikutqtirmlmchb</string>
	<key>API_KEY</key>
	<string>AIzaSyDuHM7iX_u9vLbqKrlrAYk3n1nOBsRdDd0</string>
	<key>GCM_SENDER_ID</key>
	<string>338309843980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-e322b</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-e322b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338309843980:ios:6586382788f55e0d6ff229</string>
</dict>
</plist>